<div class="bd clearfix">
    <div id="leftColContainer">
        <div class="leftCol">
            <div id="siderNav">
                <ul class="nav-items">
                    <li class="nav-item item-top " ng-click="toggle($index)" ng-class="{'current-item':ind==$index,on:ind==$index}" ng-repeat="navObj in navList">
                        <span><a><b class="icon item-1"></b>{{navObj.key}}</a></span>
                        <ul class="sub-list">
                            <li ng-repeat="liObj in navObj['value']"><a href="{{liObj.href}}" page_id="RealtimeSummary" ng-click="changeModule(liObj.name)">{{liObj.name}}</a></li>
                        </ul>
                    </li>
            </div>
            <!--<div class="testin"><a href="#" id='login_testin'></a><a class="icon help poptips" action-frame="tip_testin" title=""></a></div>-->
            <!---->
            <input type="hidden" id="app_id" attr-id="4100008dd65107258db11ef4">
            <input type="hidden" id="app_ids" attr-id="4fe11bd85270156dd8000014">
            <input type="hidden" id="user_email" attr-id="demouser@umeng.com">
            <input type="hidden" id="app_platform" attr-id="iphone">
        </div>
    </div>
</div>
